<h1>Pants</h1>

<h2>The best thing since pants.</h2>

<!-- Our search field. -->
<form action='/results' method='get'>

  <input name='city' type='text' placeholder='enter a city here...'>
  <input type='submit' value='To Pants or Not to Pants'>

</form>