<h1>Welcome to the Mash APP</h1>

<form action ='/sort' method='get'>
Which Feed Which you like to read? 
<select name="feed">
    <option value="new">New</option>
    <option value="rising">Rising</option>
    <option value="hot">Hot</option>
</select>
<input type='submit' value='Next'>
</form>

