<link rel="stylesheet" type="text/css" href="/main.css">
<div class="wrapper">
<div class="main">
<h1> Welcome to Guess!</h1>
<h2 class="title"> What is the Capitol of <%= @state %> ?</h2>
<form action ='/results' method='get'>
  <input type='text' name="guess">
  <input type='submit' value='Guess' class='btn'>
  <input type='hidden' name="state"  value="<%= @state%>">
  <input type='hidden' name="capitol"  value="<%= @capitol%>">
</form>
</div>
</div>
