<link rel="stylesheet" type="text/css" href="/main.css">

<div class="wrapper">
<div class="main">
<h1>"Boooo!</h1>
<h2> I'm sorry but "<%=@guess%>" is NOT correct!"</h2>
<h2>The state Capitol of <%=@state%> is <%=@capitol%></h2>

<input class="btn" type=button onClick="location.href='/'" value='Play Again'>
</div>
</div>