<link rel="stylesheet" type="text/css" href="/main.css">

<div class="wrapper">
<div class="main">
<h1>"Congratulations <%=@guess%> is correct!"</h1>
<input class="bigbtn" type=button onClick="location.href='/'" value='Play Again'>
</div>
</div>